.about_01 {
  color: aquamarine;
  margin: 0;
}
.inner {
  color: #CBD5F5;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 50px;
  width: 100%;
  text-align: center;
  
}
ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}
