.about_01 {
  background-color: #0a192f;
  color: aquamarine;
  margin: 0;
}
.inner {
  background-color: #0a192f;
  color: #8892b0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 50px;
  width: 100%;
  text-align: justify;
  
  @media (max-width: 768px) {
    display: block;
  }
}
.about__StyledText {
  display: block;
}
ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}
