.inner_c{
    color: #CBD5F5;
    text-align: center;
}
.contact_04{
    color:aquamarine;
}
.email-link {
    color: aquamarine;
    border: 1px solid aquamarine;
    padding: 1.25rem 1.75rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: --transition;
    margin-top: 50px;
}
title{
    padding: 0px;
}