<h2 class="work_03">03. Some Things I’ve Built</h2>
<div class="work">
  <ul class="featured__StyledProjectsGrid">
    <li class="featured__StyledProject-ywnbqt-1 eeeRej">
      <div class="project-content">
        <p class="project-overline">Featured Project</p>
        <h3 class="project-title">
          <a
            href="https://halcyon-theme.netlify.com/"
            rel="noopener noreferrer"
            target="_blank"
            >Halcyon Theme</a
          >
        </h3>
        <div class="project-description">
          <p>
            A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm,
            and more. Available on
            <a
              href="https://marketplace.visualstudio.com/items?itemName=brittanychiang.halcyon-vscode"
              target="_blank"
              rel="noopener noreferrer"
              >Visual Studio Marketplace </a
            >,
            <a
              href="https://packagecontrol.io/packages/Halcyon%20Theme"
              target="_blank"
              rel="noopener noreferrer"
              >Package Control</a
            >,
            <a
              href="https://atom.io/themes/halcyon-syntax"
              target="_blank"
              rel="noopener noreferrer"
              >Atom Package Manager</a
            >, and
            <a
              href="https://www.npmjs.com/package/hyper-halcyon-theme"
              target="_blank"
              rel="noopener noreferrer"
              >npm</a
            >.
          </p>
        </div>
        <ul class="project-tech-list">
          <li>VS Code</li>
          <li>Sublime Text</li>
          <li>Atom</li>
          <li>iTerm2</li>
          <li>Hyper</li>
        </ul>

        <div class="project-links">
          <a
            href="https://github.com/bchiang7/halcyon-site"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github Link"
          >
            <img
              alt=""
              role="git"
              aria-hidden="true"
              src="../../assets/git.png"
              style="max-width: 5%; display: block; position: static"
            />
          </a>
          <a
            href="https://halcyon-theme.netlify.app"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="External"
          >
            <img
              alt=""
              role="externo"
              aria-hidden="true"
              src="../../assets/link.png"
              style="max-width: 5%; display: block; position: static"
            />
          </a>
        </div>
      </div>
      <div class="project-image">
        <a
          href="https://halcyon-theme.netlify.app"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="xd">
            <h2>xd</h2>
          </div>
        </a>
      </div>
    </li>
  </ul>
</div>
